@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWrap {
  @apply container mx-auto max-w-4xl;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.errorMessageText {
  transition: opacity 300ms ease-in;
}

.errorMessageContainer {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
}

.current-theme-color-primary {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
  border-color: hsl(var(--p));
}

.current-theme-color-accent {
  background-color: hsl(var(--a));
  color: hsl(var(--ac));
  border-color: hsl(var(--a));
}

.send-message-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 10px;
  font-size: small;
}
